body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #504B38;
    height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.board-container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}

.board-item {
  border: 3px solid #504B38;
  background-color: #B9B28A;
  color: #504B38;
  padding: 5px 10px;
  font-size: 50px;
  font-weight: 600;
}

.board-item:hover {
  color: #504b387d;
}

.board-item:disabled {
  border: 3px solid #504B38;
  background-color: #B9B28A;
  color: #504B38;
  padding: 5px 10px;
  font-size: 50px;
}

.start-button {
  background-color: #B9B28A;
  color: #504B38;
  font-weight: 600;
  font-size: larger;
  border: none;
  border-radius: 10px;
  width: 150px;
  height: 50px;
}

.start-button:hover {
  background-color: rgba(158, 150, 112, 0.985)
}

.display {
  height: 20px;
  color: #B9B28A;
  font-size: 25px;
}